/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --textcolor: #ffffff; /* White text color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --textcolor: #ededed; /* Light text color for dark mode */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--textcolor); /* Use text color variable for links */
}

/* Optional: Modify link hover color */
a:hover {
  color: #37b668; /* Or any color you prefer for hover */
}

input[type="number"]{
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

@keyframes shake {
  0%{
    transform: translate(0);
  }
  20%{
    transform: translate(-2px);
  }
  40%{
    transform: translate(2px);
  }
  60%{
    transform: translate(-2px);
  }
  80%{
    transform: translate(2px);
  }
  100%{
    transform: translate(0);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

.input-field:focus {
  outline: none;
  border-color: #497DF2;
  box-shadow: 0 0 5px rgba(73, 125, 242, 0.5);
}
